
<br>
<br>
<br>

<div class="modal-content">
  <div class="modal-body text-center" >
    <form *ngIf="floorAddForm" [formGroup]="floorAddForm" (ngSubmit)="save()" >

    <div class="row">
      <div class="col col-md-12">
    <h3>Sipariş Adı</h3>
<input
  type="text"
  placeholder="Sipariş adı girin"
  aria-label="Text"
  matInput  
  [matAutocomplete]="orderAuto"

  formControlName="orderNames"
  (change)="onOrderOptionClick($event)"
/>
<mat-autocomplete #orderAuto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOrderItems | async" [value]="option.label">
    {{ option.label }}
  </mat-option>
</mat-autocomplete>

<br>
<br>

<label>Sipariş Adı: {{ selectedOrderName }}</label>
<br>
<label>Kumaş Cinsi: {{ selectedOrderMaterialName }}</label>

</div>
</div>


<div class="row">
  <div class="col col-md-12">

    <h3> Yıkma Makine Tipi</h3>
    <input
    type="text"
    placeholder="Yıkama makine tipi girin"
    aria-label="Text"
    matInput
    [matAutocomplete]="washingMachineAuto"
    formControlName="washingMachine"


  />
  <mat-autocomplete #washingMachineAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredWashingMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>

</div>
</div>


<div class="row">
  <div class="col col-md-12">

    <h3>Kurulama Makine Tipi</h3>
    <input
    type="text"
    placeholder="Kurulama makine tipi girin"
    aria-label="Text"
    matInput
    [matAutocomplete]="dryingMachineAuto"
    formControlName="dryingMachine"


  />
  <mat-autocomplete #dryingMachineAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredDryingMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>

</div>
</div>


<div class="row">
  <div class="col col-md-12">

    <h3> Sıkma Makine Tipi</h3>
    <input
    type="text"
    placeholder="Sıkma makine tipi girin"
    aria-label="Text"
    matInput
    [matAutocomplete]="squeezMachineAuto"
    formControlName="squeezMachine"


  />
  <mat-autocomplete #squeezMachineAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredSquezeeMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>

</div>
</div>



  <div class="row">
    <div class="col col-md-12">
    <h3>Makine Personeli</h3>
<input
  type="text"
  placeholder="Makine personeli girin"
  aria-label="Number"
  matInput
  [matAutocomplete]="machinePersonnelAuto"
  formControlName="groupUsers"


  
/>
<mat-autocomplete #machinePersonnelAuto="matAutocomplete">
  <mat-option *ngFor="let option of filteredMachineItems | async" [value]="option.label">
    {{ option.label }}
  </mat-option>
</mat-autocomplete>

</div>
</div>


<div class="row">
  <div class="col col-md-12">
<h3>Bölge Sorumlusu</h3>
    <input
    type="text"
    placeholder="Bölge Sorumlusu Girin"
    aria-label="Text"
    matInput
    [matAutocomplete]="managerAuto"
    formControlName="manager"


  />
  <mat-autocomplete #managerAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredManagerItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>

</div>
</div>
<div class="row">
  <div class="col col-md-12">

    <h3>Toplam Ürün Adeti</h3>
    <input
    type="number"
    placeholder="Toplam ürün adeti girin"
    aria-label="Text"
    matInput
    formControlName="sumProductAmount"

  />


</div>
</div>
<div class="row">
  <div class="col col-md-12">

    <h3>Brenda Numarası</h3>
    <input
    type="string"
    placeholder="Brenda numarası girin"
    aria-label="Text"
    matInput
    formControlName="brendaNumber"

  />


</div>
</div>

    <br />
    <br />
    <button mat-raised-button type="submit" class="btn btn-danger pull-center">Kontrole Başla</button>
          <div class="clearfix"></div>
  </form>
  </div>
</div>
