

<br>
<br>
<br>
<br>
<div class="main"  >
  <div class="flash-card">
    <form *ngIf="floorAddForm" [formGroup]="floorAddForm" (ngSubmit)="save()">
       

        <h3>Sipariş Adı</h3>
<!-- <input
class="select" style="background-color: rgb(243, 243, 243);border: 1px solid #adadad;"
  type="text"
  placeholder="Sipariş adı girin"
  aria-label="Text"
  matInput  
  [matAutocomplete]="orderAuto"

  formControlName="orderNames"
  (change)="onOrderOptionClick($event)"
/>
<mat-autocomplete #orderAuto="matAutocomplete">
  <mat-option *ngFor="let option of filteredOrderItems | async" [value]="option.label">
    {{ option.label }}
  </mat-option>
</mat-autocomplete> -->
<div class="select" style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;">
  <select id="orderNames" name="orderNames" formControlName="orderNames" (change)="onOrderOptionClick($event)">
    <option *ngFor="let number of orderNumber" [value]="number.id">{{ number.label }}</option>
  </select>
</div>


<br>
<br>


<div class="row">
  <div class="col-md-6">
    <label  style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;">Sipariş Adı: {{ selectedOrderName }}</label>
  </div>
  
  <div class="col-md-6">
    <label style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;">Kumaş Cinsi: {{ selectedOrderMaterialName }}</label>
  </div>
</div>







<div class="row">
  <div class="col col-md-12">

    <h3> Yıkama Makinesi</h3>
    <input 
    style="background-color: rgb(243, 243, 243);border: 1px solid #adadad;"

    type="text"
    placeholder="Yıkama makinesi seçin"
    aria-label="Text"
    matInput
    [matAutocomplete]="washingMachineAuto"
    formControlName="washingMachine"


  />

  <mat-autocomplete #washingMachineAuto="matAutocomplete" >  
    <mat-option *ngFor="let option of filteredWashingMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>

</div>
</div>


<div class="row">
  <div class="col col-md-12">

    <h3>Kurulama Makinesi</h3>
    <input
     style="background-color: rgb(243, 243, 243);border: 1px solid #adadad;"
    type="text"
    placeholder="Kurulama Makinesi Seçin"
    aria-label="Text"
    matInput
    [matAutocomplete]="dryingMachineAuto"
    formControlName="dryingMachine"


  />
  <mat-autocomplete #dryingMachineAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredDryingMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>
  

</div>
</div>


<div class="row">
  <div class="col col-md-12">

    <h3> Sıkma Makine </h3>
    <input
    style="background-color: rgb(243, 243, 243);border: 1px solid #adadad;"
    type="text"
    placeholder="Sıkma makinesi seçin"
    aria-label="Text"
    matInput
    [matAutocomplete]="squeezMachineAuto"
    formControlName="squeezMachine"


  />
  <mat-autocomplete #squeezMachineAuto="matAutocomplete">
    <mat-option *ngFor="let option of filteredSquezeeMachineTypeItems | async" [value]="option.label">
      {{ option.label }}
    </mat-option>
  </mat-autocomplete>
  

</div>
</div>



<div class="row">
  <div class="col-md-6">
    <h4>Makine Personeli</h4>
    <input
      
      style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;"
      type="text"
      placeholder="Makine personeli girin"
      aria-label="Number"
      matInput
      [matAutocomplete]="machinePersonnelAuto"
      formControlName="machineEmployee"
    />
    <mat-autocomplete #machinePersonnelAuto="matAutocomplete">
      <mat-option *ngFor="let option of filteredMachineItems | async" [value]="option.label">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>
  </div>
  
  <div class="col-md-6">
    <h4>Bölge Sorumlusu</h4>
    <input
      style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;"
      type="text"
      placeholder="Bölge Sorumlusu Girin"
      aria-label="Text"
      matInput
      [matAutocomplete]="managerAuto"
      formControlName="managerName"
    />
    <mat-autocomplete #managerAuto="matAutocomplete">
      <mat-option *ngFor="let option of filteredManagerItems | async" [value]="option.label">
        {{ option.label }}
      </mat-option>
    </mat-autocomplete>
  </div>
</div>





<div class="row">
  <div class="col col-md-6">
    <h4>Toplam Ürün Adeti</h4>
    <input
      style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;"
      type="number"
      placeholder="Toplam ürün adeti girin"
      aria-label="Text"
      matInput
      formControlName="sumProductAmount"
    />
  </div>
  <div class="col col-md-6">
    <h4>Brenda Numarası</h4>
    <input
      style="background-color: rgb(243, 243, 243); border: 1px solid #adadad;"
      type="string"
      placeholder="Brenda numarası girin"
      aria-label="Text"
      matInput
      formControlName="brendaNumber"
    />
  </div>
</div>
<br>

<div class="row">
  <div class="col col-md-6" style="display: flex; justify-content: center; align-items: center;width: 100%;">
    <mat-slide-toggle #slide (change)="toggleJobRotation($event)">
      <span>{{ slide.checked ? 'Gündüz vardiyesi' : 'Gece vardiyesi' }}</span>
    </mat-slide-toggle>
  </div>
  
  <div class="col col-md-6" >
    <button placeholder="Bilgileri Sıfırla" class="input2" type="reset">Bilgileri Sıfırla</button>
  </div>
  
</div>





    <br />
    <br />
    <button mat-raised-button type="submit" class="btn btn-danger pull-center">Kontrole Başla</button>
          <div class="clearfix"></div>
  </form>
  </div>
</div>

