<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">{{'ErrorList'| translate}}</h4>
            <a *ngIf="checkClaim('CreateErrorCommand')" class="pull-right" data-toggle="modal" data-target="#error"> <i style="color:white"  title="{{'Add'| translate}}" class="far fa-plus-square fa-2x"></i></a>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              
              <div class="col-md-4 pull-right">
                <mat-form-field>
                  <mat-label>Filter</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
                </mat-form-field>
              </div>
							<table mat-table [dataSource]="dataSource" matSort>


	
                   <ng-container matColumnDef="createdDate">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'CreatedDate'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.createdDate}}</td>
				   </ng-container>
	
	
                   <ng-container matColumnDef="status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Status'|translate}}</th>
                     <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox [checked]="element.status" [disabled]="true"></mat-checkbox>
                     </td>
				   </ng-container>
	
	
                   <ng-container matColumnDef="errorName">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ErrorName'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.errorName}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="isError">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'IsError'|translate}}</th>
                     <td mat-cell *matCellDef="let element"> 
                        <mat-checkbox [checked]="element.isError" [disabled]="true"></mat-checkbox>
                     </td>
				   </ng-container>
	
                   <ng-container matColumnDef="rowNumber">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'RowNumber'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.rowNumber}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="departmant">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Departmant'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.departmant}}</td>
				   </ng-container>
	
                   <ng-container matColumnDef="colorCode">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'ColorCode'|translate}}</th>
                     <td mat-cell *matCellDef="let element">{{element.colorCode}}</td>
				   </ng-container>




								<ng-container matColumnDef="update" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('UpdateErrorCommand')" data-toggle="modal" data-target="#error"  (click)="getErrorById(element.id)">
                      <i title="{{'Update'| translate}}" style="color:#ff5722;" class="far fa-edit"></i>
                    </a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete" >
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td  style="width: 25px;" mat-cell
                    *matCellDef="let element">
                    <a *ngIf="checkClaim('DeleteErrorCommand')" (confirm)="deleteError(element.id)" [swal]="deleteSwal"><i title="{{'Delete'| translate}}" style="color: #D9534E;"class="fas fa-trash-alt"></i></a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                <tr class="mat-row" *matNoDataRow style="text-align: center;">
                  <td class="mat-cell" colspan="4">{{'NoRecordsFound' |translate}} "{{input.value}}"</td>
                </tr>
							</table>
							<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
							</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="modal modal-angular fade" id="error" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
          (click)="clearFormGroup(errorAddForm)"><span aria-hidden="true">&times;</span></button>
        <h4 class="margin-top">
           {{'ErrorForm'| translate}}
        </h4>
        <div class="separator"></div>
        <form *ngIf="errorAddForm" [formGroup]="errorAddForm" (ngSubmit)="save()">
          
		
	
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="errorName" type="text" id="errorName" name="errorName"
                       formControlName="errorName" />
                <div class="alert alert-danger"
                     *ngIf="errorAddForm.get('errorName')!.hasError('errorName') && errorAddForm.get('errorName')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div><div class="row">
            <div class="col col-md-2">
                       <mat-checkbox  formControlName="isError" id="isError" name="isError" > isError
                      </mat-checkbox>
            </div>
          </div>
					<div class="row">
            <div class="col col-md-12">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="rowNumber" type="text" id="rowNumber" name="rowNumber"
                       formControlName="rowNumber" />
                <div class="alert alert-danger"
                     *ngIf="errorAddForm.get('rowNumber')!.hasError('rowNumber') && errorAddForm.get('rowNumber')!.dirty">
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <form-field class="example-full-width">
                <select placeholder="departmant" id="departmant" name="departmant" formControlName="departmant">
                  <option value="Yıkama">Zemin</option>
                  <option value="Kurulama">E-flow</option>
                  <option value="Sıkma">Random</option>
                  <option value="Nötr">Random</option>
                </select>
                <div class="alert alert-danger"
                  *ngIf="errorAddForm.get('departmant')!.hasError('required') && errorAddForm.get('departmant')!.dirty">
                </div>
              </form-field>
            </div>
          </div>
          
          
          <div class="row">
            <div class="col col-md-12">
                <input type="color" id="colorCode" name="colorCode" [formControl]="colorCode"><br><br>
                <div class="alert alert-danger"
                  *ngIf="errorAddForm.get('colorCode')!.hasError('colorCode') && errorAddForm.get('colorCode')!.dirty">
                </div>
            </div>
          </div>
          

          <div class="row">
            <div class="col col-md-2">
                       <mat-checkbox  formControlName="status" id="status" name="status" > status
                      </mat-checkbox>
            </div>
          </div>
                   
          <button mat-raised-button type="submit" class="btn btn-danger pull-right">{{'Save'|translate}}</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<swal #deleteSwal title="{{'DeleteConfirm' | translate}}" icon = "error" [showCancelButton]="true"
	[confirmButtonText] = "'OK'"[cancelButtonText] = "'Cancel'" >
</swal>

